.cardContainer {
	align-items: center;
	background-color: #0a79fb;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 370px;
	position: relative;
	width: 100%;
	transition: box-shadow 0.3s, transform 0.3s; /* Transiciones suaves para la sombra y la transformación */
  }
  
  .cardContainer:hover {
	transform: translateY(-5px); /* Efecto de elevación */
  }
  

.cardContainer::before {
	background: rgba(0 88 254 / 50%);
	border-radius: 20px;
	clip-path: circle(150px at 80% 20%);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transition: 0.5s ease-in-out;
	width: 100%;
} 

 .cardContainer:hover::before {
	clip-path: circle(300px at 80% -20%);
} 


.cardDetail {
	align-items: center;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.buttonContainer {
	align-items: center;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
}

.cardTitle {
	color: #fff;
	font-size: 1.1rem;
	font-weight: bold;
	margin: 0.5rem auto 0;
	text-align: center;
}



.cardType {
	color: #fff;
	font-size: 1rem;
}

.cardPrice {
	color: #fff;
	font-size: 1rem;
}

.cardButton {
	all: unset;
	background-color: #EDB00F;
	border-radius: 10px;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 1rem;
	font-weight: bold;
	margin: 0 auto 0.5rem;
	padding: 0.5rem 1rem;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s ease-in-out;
	width: 160px;
}

.cardButton:hover {
	background-color: #edb20fa7;
}