.heroContainer{
  background-image: url("../../../assets/hero.png");
	background-position: 50%;
	background-size: cover;
	align-items: center;
}

.heroTitleContainer{
  padding-top: 150px;
  padding-left: 200px;
}

@media (min-width: 768px) {
  .heroContainer{
    background-position: 50%;
		height: 100vh;
  }
}

.heroContainer h1{
  color: #fff;
	font-size: 2.5rem;
	font-weight: bold;
	text-align: center;
	margin: 0;
}

@media (min-width: 768px) {
  .heroContainer h1{
    font-size: 5rem;
		text-align: left;
  }
}

.heroContainer span{
  color: #ffc107;
}